
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.DS_Store

venv/
env/
br_env
.br_env/
.br_env*/
*.code-workspace
.vscode/

.env
*.pem
*.crt
*.key

dataset_for_BR/
Text_dataset_lines_for_CER_WER/

*.log
*.tmp
*.bak
~$*

anaconda_projects/db
anaconda_projects/
